@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo {
    height: 85px; /* Altura padrão para a logo azul */
    width: 180px; /* Largura padrão para a logo azul */
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

html {
    /* height: 500vh; */
    background-color: #FFFDF1;
} 

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    width: 100%;
    padding: 2% 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    background-color: #FFFDF1;
    z-index: 10;
}


 /* header.rolagem {
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a {
    color: #164059;
}  */

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #164059;
    text-decoration: none;
}

.backgrond{
    height: 121vh;
    width: 216vh;
    background-position: 100% 0;
    /* background-repeat: no-repeat;
    background-size: cover; */

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

h1.surfe-olimpiadas{
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
}

p{
    text-align: justify;
    padding: 8px 60px;
}

article{
    text-align: center;
    padding: 1em 10em 10em 10em;
}


.p-img-inicio{
    display: flex;
}

.olimpiada{
    max-width: 100%;
    height: 20em;
    padding: 1em 0 0 4em;
}
/* ------------------------------------------------------ */
/* OLIMPIADAS IMAGENS LINK*/


.imagens-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10em 10em 8em 10em;
}

.final{
    width: 40%;
    height: 20%;
    margin: 1em;
    text-align: center;
}

.imagem-item {
    width: 40%;
    margin: 1em;
    text-align: center;
}

.imagem {
    width: 100%;
    height: auto;
    border-radius: 4px; /* Borda arredondada */
    transition: transform 0.5s ease; /* Transição suave */
}

.imagem:hover {
    transform: scale(1.05); /* Aumenta a imagem em 10% ao passar o mouse */
    filter: brightness(70%);
}

/* ------------------------------------------------------------------- */
/* CAROUSEL RESULTADOS */

.carousel {
    position: relative;
    width: 55%;
    margin: auto;
    overflow: hidden;
    border: 1px solid #FFFDF1;
    border-radius: 5px;
    margin-bottom: 10em;
    z-index: 5;
    padding: 5em 0 0 0;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}
.carousel img {
    width: 100%;
    border-radius: 5px;
}
.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-control {
    background-color: rgba(22, 64, 89, 0.267);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .carousel {
      width: 100%;
    }
    .main-container {
      flex-direction: column-reverse; /* Inverte a ordem dos elementos em telas menores */
    }
  }
/* ------------------------------------------------------------------ */
/* RESULTADOS */

.h1-resultados {
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
    padding: 4em 0 1em 0;
    text-align: center;
}

.container-olimpiadas {
    display: flex;
    justify-content: space-between;
    padding: 0 0 5em 0;
}

.feminino, .masculino {
    padding: 0 5em 2em 5em;
}

.titulo-surfe-feminino, .titulo-surfe-masculino {
    font-family: "Libre Baskerville", serif;
    text-align: justify;
    font-size: 30px;
    width: 80%;
    padding: 0 0 1em 2em;
    color: #164059;
}

.p-resultados-feminino, .p-resultados-masculino {
    text-align: justify;
}

.subtitulo{
    text-align: justify;
    padding: 1em 0 0 3em;
    color: #164059;
}

.container-medalhas {
    display: flex;
    justify-content: center; /* Centraliza as imagens */
    justify-content: space-evenly;
}
.imagem-medalhas {
    margin: 10px; /* Espaçamento entre as imagens */
    height: 33em;
    width: 33em;
    border-radius: 2em;
}

/* ------------------------------------------------------------------ */
/* FOOTER */

footer {
    background-color: #164059; /* Cor de fundo do footer */
    color: #ffffff; /* Cor do texto */
    padding: 40px 2px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

.footer-content {
    margin-bottom: 20px; /* Espaçamento entre o conteúdo e o copyright */
}

img.img-footer {
    width: 20em; /* Largura da imagem */
    height: auto; /* Mantém a proporção */
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
}

.footer-content p {
    max-width: 600px; /* Largura máxima do parágrafo */
    line-height: 1.6; /* Altura da linha */
    color: #A5A3A3;
    text-align: justify;
}

.socials {
    display: flex; /* Exibe os ícones em linha */
    justify-content: right; /* Centraliza os ícones */
    padding: 0 9em 8em 0;
}

.socials a {
    color: #ffffff; /* Cor dos ícones */
    margin: 0 10px; /* Espaçamento entre os ícones */
    font-size: 28px; /* Tamanho dos ícones */
    text-decoration: none; /* Remove o sublinhado */
}

.footer-bottom {
    margin-top: 1px; /* Espaçamento acima do copyright */
}

.footer-bottom p {
    margin: 0; /* Remove margens */
    font-size: 13px; /* Tamanho da fonte */
    text-align: center;
}

.footer-bottom span {
    font-weight: lighter; /* Destaca o nome do designer */
    text-align: center;
    color: #cccccc;
}

/* Para telas com largura máxima de 768px */
@media (max-width: 768px) {
    .container {
      max-width: 100%; /* O container ocupa toda a largura da tela */
      padding: 20px;
    }
    .logo {
      height: 50px;
      width: 100px;
    }
    /* Outras regras específicas para telas menores */
  }