@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo {
    height: 85px; /* Altura padrão para a logo azul */
    width: 180px; /* Largura padrão para a logo azul */
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

html {
    height: 500vh;
    background-color: #FFFDF1;
} 

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    width: 100%;
    padding: 2% 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    background-color: #FFFDF1;
}


 /* header.rolagem {
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a {
    color: #164059;
}  */

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #164059;
    text-decoration: none;
}

.backgrond{
    height: 121vh;
    width: 216vh;
    background-position: 100% 0;
    /* background-repeat: no-repeat;
    background-size: cover; */

    /* display: flex;
    align-items: center;
    justify-content: center; */
}


