@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo {
    height: 85px;
    /* Altura padrão para a logo azul */
    width: 180px;
    /* Largura padrão para a logo azul */
}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

/* ---------------------------------------------------- */
/* MENU RESPONSIVO */

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    z-index: 10;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

a:hover {
    opacity: 0.7;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    height: 10vh;
}


.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    background-color: #16405934;
    border-radius: 70px;
}

.mobile-menu.active {
    color: #ffffff00;
    /* Cor quando ativo */
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    .nav-list.active>li>a {
        color: #fff;
    }

    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 9vh;
        right: 0;
        width: 45vw;
        height: 92vh;
        border-radius: 10px;
        background: #164059c4;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/* ----------------------------------------------------- */

header {
    width: 100%;
    padding: 2% 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    background-color: #FFFDF1;
    z-index: 10;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #164059;
    text-decoration: none;
}


html {
    /* height: 500vh; */
    background-color: #FFFDF1;
}

@media (max-width: 768px) {
    .logo {
      height: 50px !important;
      width: 100px !important;
    }
    /* Outras regras específicas para telas menores */
  }
/* ----------------------------------------------------- */

h1.surfe-olimpiadas {
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
}

p {
    text-align: justify;
    padding: 8px 60px;
}

article {
    text-align: center;
    padding: 1em 10em 10em 10em;
}


.p-img-inicio {
    display: flex;
}

.olimpiada {
    max-width: 100%;
    height: 20em;
    padding: 1em 0 0 4em;
}

/* ------------------------------------------------------ */
/* OLIMPIADAS IMAGENS LINK*/


.imagens-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10em 10em 8em 10em;
}

.final {
    width: 40%;
    height: 20%;
    margin: 1em;
    text-align: center;
}

.imagem-item {
    width: 40%;
    margin: 1em;
    text-align: center;
}

.imagem {
    width: 100%;
    height: auto;
    border-radius: 4px;
    /* Borda arredondada */
    transition: transform 0.5s ease;
    /* Transição suave */
}

.imagem:hover {
    transform: scale(1.05);
    /* Aumenta a imagem em 10% ao passar o mouse */
    filter: brightness(70%);
}

/* ------------------------------------------------------------------- */
/* CAROUSEL RESULTADOS */

.carousel {
    position: relative;
    width: 55%;
    margin: auto;
    overflow: hidden;
    border: 1px solid #FFFDF1;
    border-radius: 5px;
    margin-bottom: 10em;
    z-index: 5;
    padding: 5em 0 0 0;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    border-radius: 5px;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-control {
    background-color: rgba(22, 64, 89, 0.267);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .carousel {
        width: 100%;
    }

    .main-container {
        flex-direction: column-reverse;
        /* Inverte a ordem dos elementos em telas menores */
    }
}

/* ------------------------------------------------------------------ */
/* RESULTADOS */

.h1-resultados {
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
    padding: 4em 0 1em 0;
    text-align: center;
}

.container-olimpiadas {
    display: flex;
    justify-content: space-between;
    padding: 0 0 5em 0;
}

.feminino,
.masculino {
    padding: 0 5em 2em 5em;
}

.titulo-surfe-feminino,
.titulo-surfe-masculino {
    font-family: "Libre Baskerville", serif;
    text-align: justify;
    font-size: 30px;
    width: 80%;
    padding: 0 0 1em 2em;
    color: #164059;
}

.p-resultados-feminino,
.p-resultados-masculino {
    text-align: justify;
}

.subtitulo {
    text-align: justify;
    padding: 1em 0 0 3em;
    color: #164059;
}

.container-medalhas {
    display: flex;
    justify-content: center;
    /* Centraliza as imagens */
    justify-content: space-evenly;
}

.imagem-medalhas {
    margin: 10px;
    /* Espaçamento entre as imagens */
    height: 33em;
    width: 33em;
    border-radius: 2em;
}

/* ------------------------------------------------------------------ */
/* FOOTER */
footer {
    background-color: #164059;
    /* Cor de fundo do footer */
    color: #ffffff;
    /* Cor do texto */
    padding: 40px 2px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
}

/* FOOTER ROW */
.footer-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

/* FOOTER CONTENT */

.footer-content {
    margin-bottom: 20px;
    /* Espaçamento entre o conteúdo e o copyright */
}

.footer-content p {
    max-width: 600px;
    /* Largura máxima do parágrafo */
    line-height: 1.6;
    /* Altura da linha */
    color: #A5A3A3;
    text-align: justify;
}

img.img-footer {
    width: 20em;
    /* Largura da imagem */
    height: auto;
    /* Mantém a proporção */
    display: block;
    margin: 0 auto;
    /* Centraliza a imagem */
}

/* FOOTER SOCIAL */
.socials {
    display: flex;
    /* Exibe os ícones em linha */

    flex-grow: 2;
    /* Determina o tamanho igual ao footer-content */

    justify-content: center;
    /* Centraliza os ícones */
}

.socials a {
    color: #ffffff;
    /* Cor dos ícones */
    margin: 0 10px;
    /* Espaçamento entre os ícones */
    font-size: 28px;
    /* Tamanho dos ícones */
    text-decoration: none;
    /* Remove o sublinhado */
}

/* FOOTER BOTTOM*/

.footer-bottom {
    margin-top: 1px;
    /* Espaçamento acima do copyright */
}

.footer-bottom p {
    margin: 0;
    /* Remove margens */
    font-size: 13px;
    /* Tamanho da fonte */
    text-align: center;
}

.footer-bottom span {
    font-weight: lighter;
    /* Destaca o nome do designer */
    text-align: center;
    color: #cccccc;
}


/* Para telas com largura máxima de 768px */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        /* O container ocupa toda a largura da tela */
        padding: 20px;
    }

    .logo {
        height: 50px;
        width: 100px;
    }

    /* Outras regras específicas para telas menores */
} 
 

/*------------------------------------------------RESPONSIVIDADE------------------------------------ */

@media screen and (max-width: 480px) {

    /* inicio */
    
    .logo {
        height: 85px;  /* Altura padrão para a logo azul */
        width: 180px;  /* Largura padrão para a logo azul */
    }

    /*   MENU   */

    .inicio:hover {
        transition: 150ms linear;
        filter: brightness(130%);
        font-size: 23px;

    }

    .resultados:hover {
        transition: 150ms linear;
        filter: brightness(130%);
        font-size: 23px;

    }

    .olimpiadas:hover {
        transition: 150ms linear;
        filter: brightness(130%);
        font-size: 23px;

    }

    .contato:hover {
        transition: 150ms linear;
        filter: brightness(130%);
        font-size: 23px;

    }

    /*  !!!! FINAL  MENU !!!!  */


    body {
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
    }

    html {
        /* height: 500vh; */
        background-color: #FFFDF1;
    }

    .container {
        max-width: 1280px;       /* ------------------------- CONTAINER ------------------ */
        margin: auto;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header {
        width: 100%;
        padding: 2% 4%;
        position: fixed;
        top: 0;
        left: 0;
        transition: .5s;
        background-color: #FFFDF1;
        z-index: 10;
    }
    
    /*  ----------------- ROLAGEM ----------------- */

     header.rolagem {
        background-color: #fff;
        padding: 20px 4%;
    }
    
    header.rolagem a {
        color: #164059;
    }  

    header ul {
        list-style-type: none;
    }

    header ul li {
        display: inline-block;
        margin: 0 40px;
    }

    header ul li a {
        color: #164059;
        text-decoration: none;
    }

    /*  ------------------------------------------ BACKGROUND --------------------------------- */

    .backgrond {
        height: 121vh;
        width: 216vh;
        background-position: 100% 0;
   
    }

    /*  ------------------ TEXTOS E TITULOS ------------------ */

    h1.surfe-olimpiadas {
        font-family: "Libre Baskerville", serif;
        font-size: 30px;
        padding: 2px 0 1px 0;
        text-align: center;
    }

    p {
        text-align: justify;
        padding: 10px 55px 10px 55px;
        font-size: 14px;
    }

    .b {
        text-align: center;
        padding: 10px 0 10px 0;
        font-size: 16px;
        justify-content: space-between;

    }

    article {
        text-align: justify;
        padding: 5px 0 0 0;
    }


    .p-img-inicio {
        display: flex;
        justify-content: center;
        /* Centraliza as imagens */
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .olimpiada {
        max-width: 100%;
        height: 150px;
        padding: 3px 0 0 3px;
    }

    .h1-resultados {
        font-family: "Libre Baskerville", serif;
        font-size: 30px;
        padding: 4em 0 1em 0;
        text-align: center;
    }

    .container-olimpiadas {
        display: flex;
        justify-content: space-between;
        padding: 0 0 5em 0;
        flex-direction: column;
        align-items: center;
    }

    .feminino,
    .masculino {
        padding: 3px 0 3px 5px;
    }

    .titulo-surfe-feminino {
        font-family: "Libre Baskerville", serif;
        text-align: center;
        align-items: center;
        font-size: 25px;
        padding: 0;
        color: #164059;
    }

    h3.titulo-surfe-feminino{
         text-align: center;
         align-items: center;
        font-size: 25px;
        padding: 0;
        color: #164059;
    }

    .titulo-surfe-masculino {
        font-family: "Libre Baskerville", serif;
        text-align: center;
        font-size: 25px;
        padding: 0 0 0 10px;
        color: #164059;
    }

    .feminino p {
        max-width: 100%;
    }

    .p-resultados-feminino,
    .p-resultados-masculino {
       font-size: 17px;
        text-align: justify;
         padding: 8px 60px;
    }

    .subtitulo {
        text-align: center;
        padding: 10px 0 5px 0;
        color: #164059;
        font-size: 17px;
    }

    
    .p-olimpiada b{
        text-align: justify;
        font-size: 10px;
    }

   


    
    /* ----------- OLIMPIADAS IMAGENS ------------*/

/* Container principal para as imagens */
.imagens-container {
    display: flex; /* Usa flexbox para layout */
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Centraliza os itens na direção transversal */
    width: 100%; /* Faz o container ocupar toda a largura */
    padding: 3px 0; /* Espaçamento interno */
    margin: 30% 0 5% 0 ; /* Margem superior e inferior de 5% */
}

/* Container individual para cada item de imagem */
.imagem-item {
    display: flex; /* Usa flexbox para layout */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center; /* Centraliza os itens na direção transversal */
    width: 100%; /* Faz o item ocupar toda a largura do container */
    padding: 0; /* Remove o padding */
}

/* Estilo para cada imagem */
.imagem {
    border-radius: 4px; /* Bordas arredondadas */
    transition: transform 0.5s ease; /* Transição suave */
    width: auto; /* Ajusta a largura automaticamente */
    height: 180px; /* Define uma altura fixa para as imagens */
    max-width: 100%; /* Limita a largura máxima a 100% do container */
    object-fit: cover; /* Mantém a proporção da imagem */
}

/* Estilo para a div final */
.final {
    display: flex; /* Usa flexbox para layout */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center; /* Centraliza os itens na direção transversal */
    width: 100%; /* Faz o container ocupar toda a largura do parent */
}
    
    
    .imagem:hover {
        transform: scale(1.05);
        /* Aumenta a imagem em 10% ao passar o mouse */
        filter: brightness(70%);
    }

    /* --------------------------FINAL IMAGENS----------------------------------------- */


    /* CAROUSEL RESULTADOS */

    .carousel {
        position: relative;
        width: 55%;
        margin: auto;
        overflow: hidden;
        border: 1px solid #FFFDF1;
        border-radius: 5px;
        margin-bottom: 10em;
        z-index: 5;
        padding: 5em 0 0 0;
    }

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
    }

    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
    }

    .carousel img {
        width: 100%;
        border-radius: 5px;
    }

    .carousel-controls {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }

    .carousel-control {
        background-color: rgba(22, 64, 89, 0.267);
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
    }

    @media (max-width: 768px) {
        .carousel {
            width: 100%;
        }

        .main-container {
            flex-direction: column-reverse;
            /* Inverte a ordem dos elementos em telas menores */
        }
    }

    /* ------------------------------------------------------------------ */
    /* RESULTADOS */

   

    .container-medalhas {
        display: flex;
        justify-content: center;
        /* Centraliza as imagens */
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .imagem-medalhas {
        margin: 0 0 10px 0;
        /* Espaçamento entre as imagens */
        height: 20%;
        width: 80%;
        border-radius: 2em;
    }

    /* ------------------------------------------------------------------ */

    /* FOOTER */

    footer {
        background-color: #164059;
        /* Cor de fundo do footer */
        color: #ffffff;
        /* Cor do texto */
        padding: 40px 2px;
        /* Espaçamento interno */
        text-align: center;
        /* Centraliza o texto */
    }

   img.img-footer {
        width: 100%;
        /* Largura da imagem */
        height: auto;
        /* Mantém a proporção */
        display: block;
        margin: 0 auto;
        /* Centraliza a imagem */
    }

    .footer-content p {
        max-width: 600px;
        /* Largura máxima do parágrafo */
        line-height: 1.6;
        /* Altura da linha */
        color: #A5A3A3;
        text-align: justify;
    }

    .socials {
        display: flex;
        /* Exibe os ícones em linha */
        justify-content: center;
        /* Centraliza os ícones */
    }

    .socials a {
        color: #ffffff;
        /* Cor dos ícones */
        margin: 0 10px;
        /* Espaçamento entre os ícones */
        font-size: 28px;
        /* Tamanho dos ícones */
        text-decoration: none;
        /* Remove o sublinhado */
    }

    .footer-bottom {
        margin-top: 1px;
        /* Espaçamento acima do copyright */
    }

    .footer-bottom p {
        margin: 0;
        /* Remove margens */
        font-size: 13px;
        /* Tamanho da fonte */
        text-align: center;
    }

    .footer-bottom span {
        font-weight: lighter;
        /* Destaca o nome do designer */
        text-align: center;
        color: #cccccc;
    }

    /* Para telas com largura máxima de 768px */
    @media (max-width: 768px) {
        .container {
            max-width: 100%;
            /* O container ocupa toda a largura da tela */
            padding: 20px;
        }

        .logo {
            height: 50px;
            width: 100px;
        }

        /* Outras regras específicas para telas menores */
    }



}

