@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

.logo {
    height: 85px;
    /* Altura padrão para a logo azul */
    width: 180px;
    /* Largura padrão para a logo azul */
}

.logo-branca {
    height: 110px;
    /* Altura específica para a logo branca */
    width: 200px;
    /* Largura específica para a logo branca */
    /* Adicione outras propriedades específicas aqui, se necessário */
}

/* ---------------------------------------------------- */
/* MENU RESPONSIVO */

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    z-index: 10;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

a:hover {
    opacity: 0.7;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    height: 10vh;
}


.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    background-color: #16405934;
    border-radius: 70px;
}

.mobile-menu.active {
    color: #ffffff00;
    /* Cor quando ativo */
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    .nav-list.active>li>a {
        color: #fff;
    }

    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 9vh;
        right: 0;
        width: 45vw;
        height: 92vh;
        border-radius: 10px;
        background: #164059dd;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/* ----------------------------------------------------- */

header {
    width: 100%;
    padding: 2% 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem {
    background-color: #FFFDF1;
    padding: 20px 4%;
}

header.rolagem a {
    color: #164059;
}

/* detalhe aquiii */

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #B8CAD9;
    text-decoration: none;
}

.backgrond {
    background: url("medina-inicial.png") no-repeat center center;
    background-size: cover;
    height: auto;
    width: 100%;  
}

html {
    height: auto;
    width: 100%; 
    background-color: #FFFDF1;
}

@media (max-width: 768px) {
    .logo {
      height: 50px !important;
      width: 100px !important;
    }
    /* Outras regras específicas para telas menores */

    .logo-branca {
        height: 60px !important;
        width: 100px !important;
    }
}
/* ----------------------------------------------------------------- */

p {
    text-align: justify;
    padding: 8px 60px;
    padding: 1em 10em 1em 10em;
}


article {
    text-align: center;
    padding: 10em 10em 2em 10em;
}

h1.o-surf {
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
}



h1.inicio-historia {
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
}

h1.historia-surfe {
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
}

h1.regras {
    font-family: "Libre Baskerville", serif;
    font-size: 40px;

}

h1.materiais {
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
}

h1.beneficios {
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
}

article.curiosidades {
    padding: 10em 20em 5em 20em;
    text-align: justify;
    font-size: 17px;
}

h1.curiosidades-do-surfe {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-size: 40px;
}

h2.titulo-curiosidades {
    text-align: justify;
    color: #4474B5;
}

/* ------------------------------------------------------------------ */

.p-img-inicio {
    display: flex;
}

.medina-inicio {
    max-width: 100%;
    height: 23em;
    padding: 1em 0 0 4em;  
}

/* ------------------------------------------------------------------ */

.p-img2-inicio {
    display: flex;
}

.evolucao {
    max-width: 100%;
    height: 23em;
    padding: 1em 0 0 4em;
}

/* ------------------------------------------------------------------ */

.p-img3-inicio {
    display: flex;
}

.surfebrasil {
    max-width: 100%;
    height: 23em;
    padding: 1em 0 0 4em;
}

/* ------------------------------------------------------------------ */

.img-dupla1 {
    display: flex;
}

.img-regras {
    width: 35em;
    height: 21em;
    padding: 1em 0 0 4em;
}

/* ------------------------------------------------------------------ */
.img-dupla1 {
    display: flex;
}

.normas {
    max-width: 100%;
    height: 20em;
    padding: 1em 5em 0 0;
}

/* ------------------------------------------------------------------ */
.img-dupla2 {
    display: flex;
}

.parafina {
    width: 30em;
    height: 15em;
    padding: 1em 0 0 4em;

}

/* ------------------------------------------------------------------ */
.img-dupla2 {
    display: flex;
}

.leash {
    width: 30em;
    height: 17em;
    padding: 1em 0 0 4em;
}

/* ------------------------------------------------------------------ */
.img-dupla3 {
    display: flex;
}

.img-beneficios {
    width: 30em;
    height: 17em;
    padding: 1em 0 0 4em;

}

/* ------------------------------------------------------------------ */
.img-dupla3 {
    display: flex;
}

.ong {
    width: 30em;
    height: 17em;
    padding: 1em 0 0 4em;
}

/* ------------------------------------------------------------------ */
/* FOOTER */
footer {
    background-color: #164059;
    /* Cor de fundo do footer */
    color: #ffffff;
    /* Cor do texto */
    padding: 40px 2px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
}

.footer-content {
    margin-bottom: 20px;
    /* Espaçamento entre o conteúdo e o copyright */
}

img.img-footer {
    width: 20em;
    /* Largura da imagem */
    height: auto;
    /* Mantém a proporção */
    display: block;
    margin: 0 auto;
    /* Centraliza a imagem */
}

.footer-content p {
    max-width: 600px;
    /* Largura máxima do parágrafo */
    line-height: 1.6;
    /* Altura da linha */
    color: #A5A3A3;
    text-align: justify;
}

.socials {
    display: flex;
    /* Exibe os ícones em linha */
    justify-content: right;
    /* Centraliza os ícones */
    padding: 0 9em 8em 0;
}

.socials a {
    color: #ffffff;
    /* Cor dos ícones */
    margin: 0 10px;
    /* Espaçamento entre os ícones */
    font-size: 28px;
    /* Tamanho dos ícones */
    text-decoration: none;
    /* Remove o sublinhado */
}

.footer-bottom {
    margin-top: 1px;
    /* Espaçamento acima do copyright */
}

.footer-bottom p {
    margin: 0;
    /* Remove margens */
    font-size: 13px;
    /* Tamanho da fonte */
    text-align: center;
}

.footer-bottom span {
    font-weight: lighter;
    /* Destaca o nome do designer */
    text-align: center;
    color: #cccccc;
}

/* ------------------------------------RESPONSIVIDADE --------------------------------------------- */

@media screen and (max-width: 480px) {

    /* INICIO IMAGEM MEDINA */

    .backgrond {

    width: 100%; /* Faz a imagem ocupar toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 100vh; /* Limita a altura máxima para não ultrapassar a altura da viewport */
    object-fit: cover; /* Preenche o espaço mantendo a proporção */
    }

    /* PARTE INICIAL HOME */

    body {
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
    }

    .logo {
        height: 85px;
        /* Altura padrão para a logo azul */
        width: 180px;
        /* Largura padrão para a logo azul */
    }

    .logo-branca {
        height: 110px;
        /* Altura específica para a logo branca */
        width: 200px;
        /* Largura específica para a logo branca */
        /* Adicione outras propriedades específicas aqui, se necessário */
    }

    .container {
        max-width: 1280px;
        margin: auto;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-around;

    }


    /* BOTÃO MENU */

    .inicio:hover {
        transition: 150ms linear;
        filter: brightness(130%);
        font-size: 23px;

    }

    .resultados:hover {
        transition: 150ms linear;
        filter: brightness(130%);
        font-size: 23px;

    }

    .olimpiadas:hover {
        transition: 150ms linear;
        filter: brightness(130%);
        font-size: 23px;
    }



    .contato:hover {
        transition: 150ms linear;
        filter: brightness(130%);
        font-size: 23px;

    }

    /*  FINAL BOTÃO MENU */



    header {
        width: 100%;
        padding: 2% 4%;
        position: fixed;
        top: 0;
        left: 0;
        transition: .5s;
    }

    /* ROLAGEM PAGINA HOME */

    header.rolagem {
        background-color: #FFFDF1;
        padding: 20px 4%;
    }

    header.rolagem a {
        color: #164059;
    }

    header ul {
        list-style-type: none;
    }

    header ul li {
        display: inline-block;
        margin: 0 40px;
    }

    header ul li a {
        color: #B8CAD9;
        text-decoration: none;
    }



    html {
        height: auto;
        width: 100%;
        background-color: #FFFDF1;
    }

    /* FINAL */

    /* RESPONSIVIDADE TEXTOS/CONTEUDO GERAL */

    /* TITULOS H1 */

    h1.o-surf {
        font-family: "Libre Baskerville", serif;
        font-size: 25px;
    }

    h1.inicio-historia {
        font-family: "Libre Baskerville", serif;
        font-size: 25px;
    }

    h1.historia-surfe {
        font-family: "Libre Baskerville", serif;
        font-size: 25px;
    }

    h1.regras {
        font-family: "Libre Baskerville", serif;
        font-size: 25px;

    }

    h1.materiais {
        font-family: "Libre Baskerville", serif;
        font-size: 25px;
    }

    h1.beneficios {
        font-family: "Libre Baskerville", serif;
        font-size: 25px;
    }

    h1.curiosidades-do-surfe {
        font-family: "Libre Baskerville", serif;
        text-align: center;
        font-size: 40px;
    }

    /* FINAL DOS TITULOS */

    h2.titulo-curiosidades {
        text-align: justify;
        color: #4474B5;

    }

    article.curiosidades {
        font-size: 17px;
        text-align: justify;
         padding: 8px 60px;
    }


    /* ORGANIZAÇÃO DAS IMAGENS HOME */

    article {
        padding: 10px; /* Adiciona espaçamento interno ao redor do conteúdo do artigo */
        margin: 2px;
    }

    /* Estilo da imagem */

    .p-img-inicio {
        text-align: center;  /* Centraliza a imagem dentro do contêiner */
        flex-direction: column;
    }

    .p-img-inicio img {
        width: 100%; /* A imagem ocupa 100% da largura do contêiner pai */
        height: auto; /* Mantém a proporção da imagem ao redimensionar */
        max-width: 400px; /* Define uma largura máxima para a imagem para evitar que fique muito grande */

    }

    .p-img2-inicio {
        text-align: left;
        /* Centraliza a imagem */
        display: flex;
        justify-content: center;
        /* Centraliza as imagens */
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: auto;
        width: 100%;
    }

    .p-img3-inicio {
        display: flex;
        justify-content: center;
        /* Centraliza as imagens */
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: auto;
        width: 100%;
    }

    .img-dupla1 {
        display: flex;
        height: auto;
        width: 100%;
    }

    .img-regras {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .img-dupla1 {
        display: flex;
        height: auto;
        width: 100%;
    }

    .img-dupla2 {
        display: flex;
        height: auto;
        width: 100%;
    }

    .img-dupla2 {
        display: flex;
        height: auto;
        width: 100%;
    }

    .img-dupla3 {
        display: flex;
        height: auto;
        width: 100%;
    }

    .img-beneficios {
        width: 100%;
        height: auto;
        padding: 0;

    }

    .evolucao {
        width: 100%;
        /* A imagem ocupa 100% da largura do contêiner */
        height: auto;
        /* Mantém a proporção da imagem */
        max-width: 300px;
        /* Define uma largura máxima para a imagem */
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    
    .surfebrasil {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .normas {
        max-width: 100%;
        height: auto;
        padding: 0;
        align-items: center;
    }

    .parafina {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .leash {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .ong {
        width: 100%;
        height: auto;
        padding: 0;
    }



    /* Estilo para os parágrafos */
    p {  font-size: 12px; /* Define o tamanho da fonte para os parágrafos */
         line-height: 1.2; /* Aumenta o espaçamento entre linhas para melhor legibilidade */
         text-align: justify;
        padding: 7px 28px;
        flex-direction:column;
       
    }

    .medina-inicio {
        display: none;

    }


    /* FOOTER */
    footer {
        background-color: #164059;
        /* Cor de fundo do footer */
        color: #ffffff;
        /* Cor do texto */
        padding: 40px 2px;
        /* Espaçamento interno */
        text-align: center;
        /* Centraliza o texto */
    }

    .footer-content {
        margin-bottom: 20px;
        /* Espaçamento entre o conteúdo e o copyright */
    }

    img.img-footer {
        width: 20em;
        /* Largura da imagem */
        height: auto;
        /* Mantém a proporção */
        display: block;
        margin: 0 auto;
        /* Centraliza a imagem */
    }

    .footer-content p {
        max-width: 600px;
        /* Largura máxima do parágrafo */
        line-height: 1.6;
        /* Altura da linha */
        color: #A5A3A3;
        text-align: justify;
    }

    .socials {
        display: flex;
        /* Exibe os ícones em linha */
        justify-content: right;
        /* Centraliza os ícones */
        padding: 0 9em 8em 0;
    }

    .socials a {
        color: #ffffff;
        /* Cor dos ícones */
        margin: 0 10px;
        /* Espaçamento entre os ícones */
        font-size: 28px;
        /* Tamanho dos ícones */
        text-decoration: none;
        /* Remove o sublinhado */
    }

    .footer-bottom {
        margin-top: 1px;
        /* Espaçamento acima do copyright */
    }

    .footer-bottom p {
        margin: 0;
        /* Remove margens */
        font-size: 13px;
        /* Tamanho da fonte */
        text-align: center;
    }

    .footer-bottom span {
        font-weight: lighter;
        /* Destaca o nome do designer */
        text-align: center;
        color: #cccccc;
    }

}


/* Estilo geral para o artigo */
article {
    padding: 20px; /* Espaçamento interno */
    
}

/* Estilo para as imagens */
.img-dupla1, .img-dupla2, .img-dupla3 {
    display: flex; /* Usar flexbox para layout responsivo */
    flex-direction: column; /* Coloca as imagens em coluna em telas pequenas */
    align-items: center; /* Centraliza as imagens */
    max-width: 100%;
    height: auto;

}

.img-regras, .parafina, .leash, .img-beneficios, .ong {
    max-width: 100%; /* Garante que as imagens não ultrapassem a largura do contêiner */
    height: auto; /* Mantém a proporção das imagens */
    align-items: center;
    flex-direction: column;
}

/* Media query para telas menores que 768px */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em; /* Reduz o tamanho do cabeçalho em telas pequenas */
    }

    p {
        font-size: 0.9em; /* Reduz o tamanho do texto para melhor legibilidade */
    }

    .img-dupla1, .img-dupla2, .img-dupla3 {
        flex-direction: column; /* Mantém a coluna em telas pequenas */
    }
}

/* Media query para telas menores que 480px */
@media screen and (max-width: 480px) {
    article {
        padding: 10px; /* Reduz o padding em telas muito pequenas */
        
    }

    h1 {
        font-size: 1.2em; /* Ajusta ainda mais o tamanho do cabeçalho */
    }

    p {
        font-size: 0.85em; /* Ajusta o tamanho do texto para melhor legibilidade */
    }
}



/* TESTE MENU HAMBURGUER */

.menu-hamburguer {
    display: none;
    /* Oculta o ícone do menu hambúrguer por padrão */
    font-size: 30px;
    /* Tamanho do ícone do hambúrguer */
    color: white;
    /* Cor do ícone */
    cursor: pointer;
    /* Indica que é clicável */
}

/* Media Query para telas pequenas */
@media (max-width: 600px) {
    .menu-hamburguer {
        display: block;
        /* Exibe o ícone do menu hambúrguer em telas pequenas */
    }

    .main-nav ul {
        display: none;
        /* Oculta a lista do menu em telas pequenas */
        flex-direction: column;
        /* Organiza a lista em coluna */
        position: absolute;
        /* Posiciona a lista em relação ao menu */
        top: 50px;
        /* Distância do topo do menu */
        right: 0;
        /* Alinha à direita */
        background-color: #333;
        /* Cor de fundo do menu dropdown */
        width: 100%;
        /* Largura total do menu */
        padding: 0;
        /* Remove qualquer padding */
        margin: 0;
        /* Remove qualquer margin */
        z-index: 1000;
        /* Garante que o menu apareça sobre outros elementos */
    }

    .main-nav ul li {
        width: 100%;
        /* Define a largura de cada item do menu como 100% */
        text-align: center;
        /* Centraliza o texto */
    }

    .main-nav ul li a {
        display: block;
        /* Faz com que os links ocupem toda a largura do item */
        padding: 10px;
        /* Ajusta o padding para um tamanho mais compacto */
        color: white;
        /* Cor do texto do link */
        text-decoration: none;
        /* Remove o sublinhado */
    }

    .main-nav ul li a:hover {
        background-color: #444;
        /* Muda a cor de fundo ao passar o mouse */
    }

    /* Exibe a lista do menu quando a classe 'show' é adicionada ao header */
    #header.show .main-nav ul {
        display: flex;
        /* Exibe a lista do menu como um flexbox */
    }
}