@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem; /* 16px */
}

.logo {
    height: 85px; /* Altura padrão para a logo azul */
    width: 180px; /* Largura padrão para a logo azul */
}

.logo-branca {
    height: 110px; /* Altura específica para a logo branca */
    width: 200px; /* Largura específica para a logo branca */
}

 .container {
    max-width: 1280px;
    margin: auto;
    padding: 1em; /* Adiciona padding */
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
} 
/* ---------------------------------------------------- */
/* MENU COM EFEITO "ZOOM IN" */
/* .inicio:hover{
    transition: 150ms linear; 
    filter: brightness(130%);
    font-size: 23px;
    
}  botao inicio */

/* .resultados:hover{
    transition: 150ms linear; 
    filter: brightness(130%);
    font-size: 23px;
    
}

.olimpiadas:hover{
    transition: 150ms linear; 
    filter: brightness(130%);
    font-size: 23px;
    
}

.contato:hover{
    transition: 150ms linear; 
    filter: brightness(130%);
    font-size: 23px;
    
} */
/* ---------------------------------------------------- */

/* Estilos para o botão do menu */

/* -------------------------------------------------- */

/* Estilos gerais */
a {
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    height: 10vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

/* Estilos do menu mobile */
.mobile-menu {
    display: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mobile-menu.active {
    background-color: #164059; /* Cor quando ativo */
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/* Menu responsivo */
@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #164059;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block; /* Exibe o menu mobile em telas pequenas */
    }
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

header.rolagem {
    background-color: #164059; /* Cor azul quando rolar */
}

header.rolagem a {
    color: #FFF; /* Cor do texto na navbar quando rolar */
}


/* ----------------------------------------------------- */

header {
    width: 100%;
    padding: 2% 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}



header.rolagem {
    background-color: #FFFDF1;
    padding: 20px 4%;
}

header.rolagem a {
    color: #164059;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #B8CAD9;
    text-decoration: none;
}

.backgrond {

    /* notebook */
    /* height: 121vh;
    width: 216vh; */
    background: url("medina-inicial.png") no-repeat center center;
    background-size: cover;
    height: 117vh;

    /* desktop casa */
    /* height: 108vh; */
    /* width: 192vh; */
    /* width: 201.4vh; */

    /* background-position: 100% 0; */
}

html {
    height: 500vh;
    background-color: #FFFDF1;
}

/* ----------------------------------------------------------------- */

p{
    text-align: justify;
    padding: 8px 60px;
}


article{
    text-align: center;
    padding: 10em 10em 2em 10em;
}

h1.o-surf{
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
}



h1.inicio-historia{
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
}

h1.historia-surfe{
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
}

h1.regras{
    font-family: "Libre Baskerville", serif;
    font-size: 40px;

} 

h1.materiais{
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
}

h1.beneficios{
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
}
article.curiosidades{
    padding: 10em 20em 5em 20em;
    text-align: justify;
    font-size: 17px;
}

h1.curiosidades-do-surfe{
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-size: 40px;
}

h2.titulo-curiosidades{
    text-align: justify;
    color: #4474B5;
}

/* ------------------------------------------------------------------ */

.p-img-inicio{
    display: flex;
}

.medina-inicio{
    max-width: 100%;
    height: 23em;
    padding: 1em 0 0 4em;
}
/* ------------------------------------------------------------------ */

.p-img2-inicio{
    display: flex;
}

.evolucao{
    max-width: 100%;
    height: 23em;
    padding: 1em 0 0 4em;
}
/* ------------------------------------------------------------------ */

.p-img3-inicio{
    display: flex;
}

.surfebrasil{
    max-width: 100%;
    height: 23em;
    padding: 1em 0 0 4em;
}
/* ------------------------------------------------------------------ */

.img-dupla1{
    display: flex;
}

.img-regras{
    width: 35em;
    height: 21em;
    padding: 1em 0 0 4em;
}
/* ------------------------------------------------------------------ */
.img-dupla1{
   display: flex;
}

.normas{
    max-width: 100%;
    height: 20em;
    padding: 1em 5em 0 0;
}
/* ------------------------------------------------------------------ */
.img-dupla2{
    display: flex;
 }
 
 .parafina{
     width: 30em;
     height: 15em;
     padding: 1em 0 0 4em;

 }
 /* ------------------------------------------------------------------ */
 .img-dupla2{
    display: flex;
 }
 
 .leash{
     width: 30em;
     height: 17em;
     padding: 1em 0 0 4em;
 }
 /* ------------------------------------------------------------------ */
 .img-dupla3{
    display: flex;
 }
 
 .img-beneficios{
     width: 30em;
     height: 17em;
     padding: 1em 0 0 4em;

 }
 /* ------------------------------------------------------------------ */
 .img-dupla3{
    display: flex;
 }
 
 .ong{
     width: 30em;
     height: 17em;
     padding: 1em 0 0 4em;
 }

/* ------------------------------------------------------------------ */
/* FOOTER */
footer {
    background-color: #164059; /* Cor de fundo do footer */
    color: #ffffff; /* Cor do texto */
    padding: 40px 2px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

.footer-content {
    margin-bottom: 20px; /* Espaçamento entre o conteúdo e o copyright */
}

img.img-footer {
    width: 20em; /* Largura da imagem */
    height: auto; /* Mantém a proporção */
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
}

.footer-content p {
    max-width: 600px; /* Largura máxima do parágrafo */
    line-height: 1.6; /* Altura da linha */
    color: #A5A3A3;
    text-align: justify;
}

.socials {
    display: flex; /* Exibe os ícones em linha */
    justify-content: right; /* Centraliza os ícones */
    padding: 0 9em 8em 0;
}

.socials a {
    color: #ffffff; /* Cor dos ícones */
    margin: 0 10px; /* Espaçamento entre os ícones */
    font-size: 28px; /* Tamanho dos ícones */
    text-decoration: none; /* Remove o sublinhado */
}

.footer-bottom {
    margin-top: 1px; /* Espaçamento acima do copyright */
}

.footer-bottom p {
    margin: 0; /* Remove margens */
    font-size: 13px; /* Tamanho da fonte */
    text-align: center;
}

.footer-bottom span {
    font-weight: lighter; /* Destaca o nome do designer */
    text-align: center;
    color: #cccccc;
}




/*MENU TESTE RESPONSIVO*/

     
#menu {
    z-index: 2; /*Define a propriedade z-index como 2. Isso controla a ordem de empilhamento do elemento em relação a outros elementos na página. Um valor maior de z-index coloca o elemento mais acima na pilha.*/
}
  
#menu-bar {
    width: 45px; 
    height: 40px;
    margin: 30px 0 20px 20px; 
    cursor: pointer; /*Altera o cursor do mouse para um ponteiro quando o mouse passa sobre o elemento, indicando que ele é clicável.*/
    margin-top: 50px;
    padding: 4px; 
}

.bar {
    height: 5px; 
    width: 65%;
    background-color: #641313; 
    display: block; 
    border-radius: 10px;
    transition: 0.3s ease; /*Define uma transição suave com duração de 0,3 segundos e função de temporização "ease" para os elementos com a classe .bar.*/
}

#bar1 { 
    transform: translateY(-4px); /*Aplica uma transformação que move o elemento 4 pixels para cima (na direção negativa do eixo Y).*/
    background-color: #641313; 
}
  
#bar3 { 
    transform: translateY(4px); /*Aplica uma transformação que move o elemento 4 pixels para baixo (na direção positiva do eixo Y).*/
    background-color: #641313; 
}
  
.nav { 
    transition: 0.3s ease; 
    display: none; 
}