* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* fonte titulo */


  
/* ------------------------------------------------------------------ */

.logo {
    height: 85px; /* Altura padrão para a logo azul */
    width: 180px; /* Largura padrão para a logo azul */
}

.logo-branca {
    height: 110px; /* Altura específica para a logo branca */
    width: 200px; /* Largura específica para a logo branca */
    /* Adicione outras propriedades específicas aqui, se necessário */
}

html {
    height: 500vh;
    background-color: #ffffff;
}

p{
    text-align: justify;
    padding: 15px 60px;
}

.ultimo{
    margin-bottom: 40px;
}

/* ------------------------------------------------------------------ */

.p-img-inicio{
    display: flex;
}

.medina-inicio{
    max-width: 100%;
    height: 23em;
}
/* ------------------------------------------------------------------ */

.p-img2-inicio{
    display: flex;
}

.evolucao{
    max-width: 100%;
    height: 23em;
}
/* ------------------------------------------------------------------ */

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    width: 100%;
    padding: 2% 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}


header.rolagem {
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a {
    color: #164059;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #B8CAD9;
    text-decoration: none;
}

.backgrond {

    /* notebook */
    /* height: 121vh;
    width: 216vh; */

    /* desktop casa */
    height: 108vh;
    width: 192vh;

    /* background-position: 100% 0; */
}

article{
    text-align: center;
    padding: 50px;
}

h1.o-surf{
    font-size: 50px;
}

figure{
    float: left;
    margin: 0 20px 20px 0; /* Margem direita e inferior */
    width: 100px; /* Ajuste a largura da imagem aqui */
    height: 100px; /* Mantém a proporção da imagem */
}

/* ------------------------------------------------------------------ */
/* FOOTER */
footer {
    background-color: #164059; /* Cor de fundo do footer */
    color: #ffffff; /* Cor do texto */
    padding: 40px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

.footer-content {
    margin-bottom: 20px; /* Espaçamento entre o conteúdo e o copyright */
}

.footer-content h3 {
    font-size: 20px; /* Aumenta o tamanho do título */
    color: #ffffff;
    text-align: left;
    margin-bottom: 15px; /* Aumenta o espaçamento abaixo do título */
    font-weight: lighter;
    color: #A5A3A3;
}

.footer-content p {
    max-width: 600px; /* Largura máxima do parágrafo */
    margin: 0 auto; /* Centraliza o parágrafo */
    text-align: left;
    line-height: 1.8; /* Aumenta a altura da linha para melhor legibilidade */
    color: #A5A3A3;
}

.socials {
    list-style: none; /* Remove a lista padrão */
    padding: 0; /* Remove o padding */
    display: flex; /* Exibe os ícones em linha */
    justify-content: center; /* Centraliza os ícones */
    margin-top: 15px; /* Aumenta o espaçamento acima dos ícones */
}

.socials a {
    color: #ffffff; /* Cor dos ícones */
    margin: 0 15px; /* Aumenta o espaçamento entre os ícones */
    font-size: 20px; /* Aumenta o tamanho dos ícones */
    text-decoration: none; /* Remove o sublinhado */
}


.footer-bottom p {
    margin: 0; /* Remove margens */
    font-size: 16px; /* Aumenta o tamanho da fonte */
}

.footer-bottom span {
    font-weight: bold; /* Destaca o nome do designer */
}

