@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

.logo {
    height: 85px;
    /* Altura padrão para a logo azul */
    width: 180px;
    /* Largura padrão para a logo azul */
}

.space {
    display: flex;
    width: 100%;
    height: 140px;
}

.container-ultra-fora {
    width: 100%;
    display: flex;
}
        /* Classe para esconder a imagem de fundo */
        .hide-background {
            background-image: none !important;
        }

        body {
            font-family: "Montserrat", sans-serif;
            font-size: 17px;
            background-color: #FFFDF1;
            background-image: url("../imagens/contato.jpeg");
            background-size: cover; /* Faz a imagem cobrir toda a área */
            background-repeat: no-repeat; /* Evita que a imagem se repita */
            background-position: center; /* Centraliza a imagem */
        }

.fundo-contato {
    height: 90vh;
    width: 100%;
    background-position: center;
    /* background-repeat: no-repeat;
    background-size: cover; */

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* ---------------------------------------------------- */
/* MENU RESPONSIVO */

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    z-index: 10;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

a:hover {
    opacity: 0.7;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    height: 10vh;
}


.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    background-color: rgba(22, 64, 89, 0.204);
    border-radius: 70px;
}

.mobile-menu.active {
    color: #ffffff00;
    /* Cor quando ativo */
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    .nav-list.active>li>a {
        color: #fff;
    }

    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 9vh;
        right: 0;
        width: 45vw;
        height: 92vh;
        border-radius: 10px;
        background: #164059c4;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/* ----------------------------------------------------- */

header {
    width: 100%;
    padding: 2% 4%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transition: .5s;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #164059;
    text-decoration: none;
}

@media (max-width: 768px) {
    .logo {
      height: 50px !important;
      width: 100px !important;
    }
    /* Outras regras específicas para telas menores */
  }

/* ----------------------------------------------------------------- */

/* contato */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    background-color: #FFFDF1;
    position: relative;
    /* Para posicionar o formulário em relação ao body */
}

.fundo-contato {
    height: 90vh;
    width: 90%;
    /* Ajustado para 100% da largura */
    position: absolute;
    /* Para que fique atrás do formulário */
    top: 5em;
    left: 11em;
    object-fit: cover;
    /* Para cobrir o espaço */
}

.form-container {
    position: fixed;
    /* Para posicionar em relação à imagem de fundo */
    top: 30%;
    /* Distância do topo */
    right: 120px;
    /* Distância da direita */
    width: 550px;
    /* Largura do formulário */
    z-index: 1;
    /* Para garantir que fique sobre a imagem */
}

form {
    background: rgba(22, 64, 89, 0.267);
    /* Fundo semi-transparente */
    border-radius: 35px;
    padding: 50px;
    /* Padding ajustado */
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

form h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    /* Cor do texto */
    font-size: 22pt;
}

form p {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    color: #fff;
    /* Cor do texto */
}

form .input-single {
    position: relative;
    margin: 30px 0;
}

form .input-single label {
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: all 0.5s;
    color: #164059;
}

form .input-single .input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #164059;
    padding: 5px;
    outline: 0;
    font-size: 16px;
    background: transparent;
    /* Fundo transparente */
    color: #fff;
    /* Cor do texto */
}

form .input-single .input:focus {
    border-bottom: 2px solid #2D5966;
}

form .input-single .input:focus~label,
form .input-single .input:valid~label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #2D5966;
}

.btn {
    width: 100%;
    text-align: center;
}

form input[type=submit] {
    padding: 10px 100px;
    border: 0;
    border-radius: 25px;
    background-color: #5D7CA6;
    color: #fff;
    font-size: 14pt;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}



/* ------------------------------------------------------------------ */
/* RESPONSIVIDADE */

@media screen and (max-width: 550px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1% -34% 0 0;
        
    } 
}
@media (max-width: 550px) {
    header {
        padding: 10px;
    }
    body{
        width: 50%;
    }



    form {
        padding: 10px;
        margin: 10% 0 0 0;
    }

    form .input-single {
        margin: 15px 0;
    }

    form .input-single .input {
        font-size: 12px;
    }

    form input[type=submit] {
        font-size: 10pt;
    }

    .container {
        max-width: 80%;
        display: flex; /* Adicionado o ponto e vírgula aqui */
        flex-direction: column;
        align-items: center;
    }
    
    @media (max-width: 768px) {
        .flex {
            flex-direction: column;
        }
    
        header ul li {
            margin: 10px 0;
        }
/*     
        .form-container {
            width: 90%;
            margin: 50px auto;
        } */
    
        .logo {
            height: 60px;
            width: 140px;
        }
    
        form {
            padding: 15px;
        }
    
        form .input-single .input {
            font-size: 14px;
        }
    
        form input[type=submit] {
            font-size: 12pt;
        }
    }
    
}